    body{
        padding: 0;
        margin: 0;
        background-color: #EEF4ED;
        font-family: 'Roboto', sans-serif;
    }
    .ControlIndex{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0px 0px ;
        background:  #00cccc;
        height: 110px;
    }
    .ControlIndex a{
        text-decoration: none;
        font-size: 25px;
        margin: 10px 50px 10px 10px ;
        color: rgb(255, 255, 255);
    
    }