    *{
        overflow: hidden;
    }
    .Container{
        width: 100vw;
        height: 86vh;
        display: grid;
        grid-template-areas: "l r" ;
        grid-template-rows: 2fr 0.5fr;
    }
    .Left{
        width: 60vw;
        background-color: #EEF4ED;
        grid-area: l;
        align-content: center;
    }
    .Left h1{
        font-size: 2.3vw;
        line-height: 2;
        margin-left: 8vw;
    }
    .Left p{
        color: #1C1E21;
        font-size: 1.7vw;
        line-height: 1.5;
        text-align: justify;
        margin-left: 8vw;
    }
    .Left h2{
        color: #1C1E21;
        font-size: 2vw;
        line-height: 2;
        margin-left: 8vw;
    }
    .Right{
        width: 40vw;
        background-color: #EEF4ED;
        grid-area: r;
        align-content: center;
    }
    .Right img{
        height: 65%;
        width: 30vw;
        margin-left: 3vw;
    }
    @media only screen and (max-width: 1200px){
        .Right img{
            height: 60%;
            width: 30vw;
            
        }
    }
    @media only screen and (max-width: 1100px){
            .Right img{
                height: 55%;
                width: 30vw;
                
            }
    }
    @media only screen and (max-width: 1000px){
        .Right img{
            height: 50%;
            width: 30vw;
            
        }
}
@media only screen and (max-height: 1200px){
    .Right img{
        height: 60%;
        width: 30vw;
        
    }
}
@media only screen and (max-width: 1100px){
        .Right img{
            height: 55%;
            width: 30vw;
            
        }
}
@media only screen and (max-width: 1000px){
    .Right img{
        height: 50%;
        width: 30vw;
        
    }
}