    *{
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    body{
        background-color: #EEF4ED;
        max-width: 100vw;
        max-height: 100vh;
    }
    .ControlIndex{
        display: grid;
        grid-template-areas: "l i s t a o";
        background:  #EEF4ED;
        height: 14vh;
        width: 100vw;
    }
    .ControlIndex a{
        text-decoration: none;
        font-size: clamp(1.3rem, 1.5vw, 2rem );;
        color: #1C1E21;
        font-weight: bold;
    }
    .flex{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 15vh;
    }
    .Inicio{
        grid-area: i;
        width: 15vw;
        align-content: center;
        text-align: center;
    }
    .Saudemental{
        grid-area: s;
        width: 15vw;
        align-content: center;
        text-align: center;
    }
    .Treino{
        grid-area: t;
        width: 15vw;
        align-content: center;
        text-align: center;
    }
    .Alimentacao{
        grid-area: a;
        width: 15vw;
        align-content: center;
        text-align: center;
    }
    .Outros{
        grid-area: o;
        width: 15vw;
        align-content: center;
        text-align: center;
    }
    .Logo{
        grid-area: l;
        width: 20vw;
        align-content: center;
        text-align: center;
    }
    .Logo img{
        width: 14vw;
        height: 15vh;
        z-index: 2;
    }
    .Linha{
        height: 0.1vh;
        width: 100%;
        background-color: #1C1E21;
    }
    .LinhaMedia{
        height: 0.1vh;
        width: 100%;
        background-color: #1C1E21;
        display: none;
    }
    .H2Media{
        display: none;
    }
    @media (max-width: 966px){
        .ControlIndex{
            background-color: #00cccc;
            height: 43vh;
            width: 100vw;
        }
        .flex{
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100vw;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .Inicio{
            height: 16.6777%;
            width: 90%;
            align-content: center;
            text-align: left;
            margin: 0 auto;
        }
        .Saudemental{
            height: 16.6777%;
            width: 90%;
            align-content: center;
            text-align: left;
            margin: 0 auto;
        }
        .Treino{
            height: 16.6777%;
            width: 90%;
            align-content: center;
            text-align: left;
            margin: 0 auto;
        }
        .Alimentacao{
            height: 16.6777%;
            width: 90%;
            align-content: center;
            text-align: left;
            margin: 0 auto;
        }
        .Outros{
            width: 90%;
            height: 16.6777%;
            align-content: center;
            text-align: left;
            margin: 0 auto;
        }
        .Logo{
            display: none;
        }
        .ControlIndex a{
            text-decoration: none;
            font-size: clamp(1.3rem, 2.2vw, 2.5rem);
            color: #1C1E21;
            font-weight: bold;
        }
        .Linha{
          display: none;
        }
        .LinhaMedia{
            height: 0.1vh;
            width: 100%;
            background-color: #1C1E21;
            display: inline;
        }
        .H2Media{
            height: 16.6777%;
            width: 90%;
            display: flex;
            align-content: center;
            text-align: left;
            margin: 0 auto;
        }
        .H2Media h2{
            color: #1C1E21;
            font-size: clamp(1.5rem, 2.2vw, 2.5rem);
            line-height: 2;
        }
    }