/* Estilo do container do produto */
.productContainer {
    width: 268px;
    min-height: 300px;
    padding-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Imagem do produto */
    .productImage {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    /* Informações do produto */
    .productInfo {
        padding-top: 10px;
    }

    /* Título e descrição */
    .productTitle {
        font-size: 1.2em;
        margin: 5px 0;
    }

    .productDescription {
        color: #555;
        font-size: 0.9em;
    }

    /* Botão Ler mais (inicialmente invisível, mas espaço reservado) */
    .readMoreBtn {
        visibility: hidden;
        /* Invisível, mas mantém o espaço */
        opacity: 0;
        background-color: #5a4dfb;
        color: white;
        font-size: 0.9em;
        border: none;
        border-radius: 5px;
        padding: 8px 15px;
        margin-top: 10px;
        cursor: pointer;
        transition: opacity 0.3s, background-color 0.3s;
    }
}

/* Efeito de hover */
.productContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

    .readMoreBtn {
        visibility: visible;
        opacity: 1;
    }
}