body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

thead {
    background-color: #673DE6;
    color: #fff;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccd0d5;
}

th {
    text-transform: uppercase;
}

input {
    border-radius: 10px;
    width: 9vw;
    height: 4vh;
    border: 1px solid black;
    padding: 1vh;
}

button {
    margin: 2vh;
}