* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow: visible;
}
.bodyHome {
    width: 100vw;
    min-height: 10vh;
    background-color: #F0F2F5;
    overflow: hidden;

    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #5B5B5B;
        padding: 15px 7%;
    }

    .logo {
        width: 86px;
        cursor: pointer;
    }

    ul {
        flex: 1;
        list-style: none;
        text-align: center;

        .menu_link {
            margin: 10px 20px;
            cursor: pointer;

            li {
                display: inline-block;
                font-size: 18px;
                color: #fff;
            }
        }
    }

    .user_image {
        width: 60px;
        cursor: pointer;
    }

    .toggle_menu {
        display: none;
    }

    .close_menu {
        display: none;
    }
}