<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="css/styleCadastrar.css">
  <title>Cadastro</title>
</head>

<body>

  <div class="control">
    <div class="container">
      <!-- Cabeçalho -->
      <thead>
        <p class="titulo">Criar conta</p>
      </thead>
      <div class="linha"></div>

      <!-- Formulário informações cadastro -->
      <form name="form" method="POST" action="/cadastroCliente">

        <div class="nomeUserErro">
          <div class="nomeUserSuce">
            <input type="text" name="nomeUser" id="nomeUser" class="inputForm" placeholder="Nome de usuário">
          </div>
        </div>

        <!-- Nome -->
        <div class="nomeerro">
          <div class="nomesuce">
            <input class="inputForm" type="text" id="nome" name="nome" placeholder="Nome">
            <small>Erro menssage</small>
          </div>
        </div>

        <!-- E-mail -->
        <div class="emailerro">
          <div class="emailsuce">
            <input class="inputForm" type="text" id="email" name="email" placeholder="Email">
            <small>Erro menssage</small>
          </div>
        </div>

        <!-- Senha -->
        <div class="senhaerro">
          <div class="senhasuce">
            <input class="inputForm" type="password" id="senha" name="senha" placeholder="Senha">
            <small>Erro menssage</small>
          </div>
        </div>

        <!-- Data de Nascimento-->
        <div class="data">
          <p>Data de nascimento</p>
          <br>
          <select class="selectData" id="dianascimento" name="dianascimento">
            <script>
              for (var d = 1; d <= 31; d++) {
                document.write("<option value=" + d + ">" + d + "</option>")
              }
            </script>
          </select>
          <select class="selectData" id="mesnascimento" name="mesnascimento">
            <script>
              for (var m = 1; m <= 12; m++) {
                document.write("<option value=" + m + ">" + m + "</option>")
              }
            </script>
          </select>
          <select class="selectData" id="anonascimento" name="anonascimento">
            <script>
              for (var a = 2024; a >= 1900; a--) {
                document.write("<option value=" + a + ">" + a + "</option>");
              }
            </script>
          </select><br><br>
        </div>

        <!-- Botão Cadastrar -->
        <a>
          <button class="btnCadastrar" id="Enviar" name='Enviar'>Cadastrar</button>
        </a>
        <div class="separa">
          <span>ou</span>
        </div>
      </form>

      <!-- Voltar para tela Entrar -->
      <a href="/">
        <button class="btnEntrarForm">Entrar</button>
      </a>
    </div>
  </div>
</body>

</html>