<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="css/styleEntrar.css">
  <title>Entrar</title>
</head>

<body>
  <div class="Container">
    <thead>
      <div class="Left">
        <div class="Texto">
          <h1 class="h1">Bem Estar Total</h1>
          <p class="p">Muito mais do que um site, é um convite para uma vida mais saudável e plena. Se junte a
            nós enquanto embarcamos
            nesta jornada para uma vitalidade completa.</p>
        </div>
      </div>
    </thead>
    <div class="Right">
      <div class="Login">
          <div class="emailerro">
            <div class="emailsuce">
              <input class="inputLogin" type="text" id="email" name="email" placeholder="Email"
                style="margin-top: 5px;">
              <small>Erro menssage</small>
            </div>
          </div>
          <div class="senhaerro">
            <div class="senhasuce">
              <input class="inputLogin" type="password" id="senha" name="senha" placeholder="Senha">
              <small>Erro menssage</small>
            </div>
          </div>
          <a href="entrar">
            <button class="inputButton" id="Enviar" name='Enviar'>Entrar</button>
          </a>
        <a class="hrefLogin" href="Cadastro">Esqueceu a senha?</a>
        <div class="linhaLogin"><br></div>
        <a href="cadastroForm">
          <button class="inputButton2">Criar conta</button>
        </a>
      </div>
    </div>
  </div>
  <script src="js/scriptEmail.js"></script>
</body>

</html>