<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="css/styleEntrar.css">
  <title>Entrar</title>
</head>

<body>
  <!-- Container -->
  <div class="control">

    <!-- Conteúdo esquerda -->
    <div class="left">
      <div class="conteudo">
        <!-- Título -->
        <h1 class="titulo">TCC</h1>

        <!-- Conteúdo -->
        <p class="texto"></p>
      </div>
    </div>
    
    <!-- Conteúdo direita -->
    <div class="right">
      <div class="container">

        <!-- Email -->
        <div class="emailerro">
          <div class="emailsuce">
            <input class="inputLogin" type="text" id="email" name="email" placeholder="Email" style="margin-top: 5px;">
            <small>Erro menssage</small>
          </div>
        </div>
        <div class="senhaerro">
          <div class="senhasuce">
            <input class="inputLogin" type="password" id="senha" name="senha" placeholder="Senha">
            <small>Erro menssage</small>
          </div>
        </div>
        <a href="entrar">
          <button class="inputButton" id="Enviar" name='Enviar'>Entrar</button>
        </a>
        <a class="hrefLogin" href="Cadastro">Esqueceu a senha?</a>
        <div class="separa">
          <span>ou</span>
        </div>
        <a href="cadastroForm">
          <button class="inputButton2">Criar conta</button>
        </a>
      </div>
    </div>
  </div>
  <script src="js/scriptEmail.js"></script>
</body>

</html>