<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styleInicio.css">
  <title>Início</title>
</head>

<body>
  <nav>
    <%- include("navbar.ejs")%>
  </nav>
  <div class="Container">
    <div class="Left">
      <div class="Control">
        <h1>Bem-vindo à Plataforma Bem Estar Total </h1>
        <h2>Acompanhe sua Saúde de Forma Inteligente</h2>
        <p>Na Plataforma Bem Estar Total, estamos comprometidos em ajudar você a cuidar do seu bem-estar físico e
          mental.
          Nossa abordagem integrada permite que você rastreie vários aspectos da sua saúde de maneira eficiente e
          eficaz.
        </p>
      </div>
    </div>
    <div class="Right">
      <img src="img/10-dicas-vida-saudavel-1-1024x683.png" alt="">
    </div>
  </div>
</body>

</html>