/* Estilos Globais */

.chatfunc {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.control {
  display: flex;
  height: 100vh;
  width: 100%;
}

.table tr{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f0f0;
  margin: 0 5px 5px 5px;
  border-radius: 10px;
}

.conversas {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 35%;
  padding: 20px;
  margin: 0 20px 20px 0px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userprofile {
  background-color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.searchbar select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Search Bar */
.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 20px;


  .searchbar input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .input_info {
    margin-left: 20px;
    width: 20%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .searchbar button {
    padding: 10px 15px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  button {
    padding: 10px 15px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}

/* Chat Message */
.chatmessage {
  background-color: #fff;
  padding: 20px;
  margin: 0 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 65%;

  .message {
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }

  .useravatar {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .messagecontent {
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
  }

  .messageLeft {
    align-self: flex-start;
    background-color: #e0ffe0;
    text-align: right;
  }

  .messageRight {
    align-self: flex-end;
    background-color: #f0f0f0;
    text-align: left;
  }

  .messagecontent h4 {
    margin: 0 0 5px 0;
  }

  .messageoptions {
    cursor: pointer;
  }
}

.messageinputchatfunc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 10px 15px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  input {
    width: 20%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}