@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.header {
    padding: 0 2rem;
}

.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 64px);
    max-width: 1200px;
    height: 60px;
    padding: 15px;
    border-radius: 10px;
    background-color: #525252;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

    /* Logo Navbar */
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        .menu_logo {
            text-decoration: none;
            font-family: "Sofia", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 1.5rem;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
        }
    }

    /*  */

    /* Itens Navbar */
    .menu_link {
        display: flex;
        gap: 2rem;

        .menu_items {
            list-style: none;
        }
    }

    /*  */

    /* FaBars e FaX */
    .menu_icon {
        color: #fff;
        font-size: 1.5rem;
        height: 24px;
        cursor: pointer;
        display: none;
    }

    /*  */
}

/* Links Navbar */
.item_link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.item_link:hover {
    color: orange;
}

/*  */

/* Botão Começar */
.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/*  */

/* Menu de Itens para Responsividade */
.dropdown_menu {
    display: none;
    position: fixed;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 300px;
    background-color: #777777;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;

    .dropdown_menu_items {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        .item_link {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .action_btn {
        width: 100%;
        display: flex;
        justify-content: center;

    }
}

/*  */

.dropdown_menu.open {
    height: 246px;
}

/* Responsividade */
@media (max-width: 992px) {
    .navbar {

        .menu_link,
        .action_btn {
            display: none;
        }

        .menu_icon {
            display: block;
        }
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/*  */